pipeline/Add parquet from sql.json
{
	"name": "Add parquet from sql",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_dateTime",
					"value": {
						"value": "@utcnow('yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "copy sql to adls123",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sqldb_teste_adf",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SalesLT",
							"tbName": "Product"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"path": {
								"value": "SalesLT/Product/@{variables('current_dateTime')}",
								"type": "Expression"
							},
							"fileName": "file.parquet"
						}
					}
				]
			}
		],
		"variables": {
			"current_dateTime": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-10-22T14:24:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}